doctype html
html
    head
        title= "Admin Réservations CEPHISMER"
        link(rel='stylesheet', href='/stylesheets/styles.css')
        link(rel='stylesheet', href='/stylesheets/admin.css')
        link(rel='stylesheet', href='/stylesheets/navbar.css')
        link(rel='stylesheet', href='/static/flatpickr/dist/flatpickr.css')
        link(rel='stylesheet', href='/static/flatpickr/dist/themes/airbnb.css')
        script(src='/static/flatpickr/dist/flatpickr.js')

    body
        block content
