extends layout
block content
    .card.small-card
        h1.title Erreur #{h2}
        p.text-center.mt-3 Une erreur est survenue. <br> Veuillez réessayer plus tard ou contacter l'administrateur.
        .return-link-container.text-center
            a.secondary-btn.btn.return-link.mt-3(href='/') Retour à l'accueil
