extends adminLayout

block content
    .card.small-card
        .text-container
            h1.title Déconnexion
            p.text-center.mt-3 Vous avez bien été déconnecté !
        .button-container.text-center
            a.btn.primary-btn.m-0(href='/') Retour