extends layout
block content
    .card.small-card
        h1.card-title Réservation enregistrée
        p.text-center.text-medium.mt-3 Votre réservation a bien été enregistrée !
        .return-link-container.text-center
            a.secondary-btn.btn.return-link.mt-3(href='/') Retour